/*======================================
            HEADER
======================================*/


header{
  padding: .5rem 0;
  position:sticky;
  top:0;
  z-index:999;
  background:rgba(7,7,7,.94);
  backdrop-filter:blur(15px);
  border-bottom:1px solid #171717;
}

.logo {
  height: 80px;
} 


nav{
  display:flex;
  justify-content:space-between;
  align-items:center;
}


.nav-links{
  display:flex;
  gap:40px;
  list-style:none;
}

.nav-links a{
  color:#9d9d9d;
  transition:.3s;
  text-decoration:none;

}

.nav-links a:hover, .nav-links a.active{
  color:#fff;
}

.btn{
  display:inline-flex;
  align-items:center;
  gap:10px;
  background:#5b8cff;
  color:#fff;
  padding:15px 24px;
  border-radius:14px;
  font-weight:600;
  transition:.3s;

}

.btn:hover{
  transform:translateY(-4px);
}

.btn i{
  font-size:.9rem;
}

.hamburger{
  display:none;
  background:none;
  border:none;
  color:white;
  font-size:2rem;
  cursor:pointer;
}

/*======================================
        RESPONSIVE DESIGN
======================================*/

/* ---------- Tablets ---------- */

@media(max-width:900px){
  .nav-links{
    display:none;
    position:absolute;
    top:80px;
    left:0;
    width:100%;
    flex-direction:column;
    align-items:center;
    gap:25px;
    padding:30px 0;
    background:#111;
    transform:translateY(-100%);
    opacity:0;
    visibility:hidden;
  }
  
  .nav-links.active{
    display: flex;
    transform:translateY(0);
    opacity:1;
    visibility:visible;
  }
  
  .hamburger{
    display:block;
  }
}

/* ---------- Phones ---------- */
@media (max-width:600px){
  .logo {
    height: 50px;
  }

  .btn {
    display: none;
  }
  
  a {
    font-size:.9rem;
  }
}