/*======================================
        GOOGLE FONT
======================================*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');


/*======================================
            RESET
======================================*/

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  font-family:"Inter",sans-serif;
  background:#070707;
  color:#fff;
  overflow-x:hidden;
  border: 1px solid white;

}

a{
  text-decoration:none;
  color:inherit;
}

button{
  font-family:inherit;
}


.container{
  width:min(1200px,90%);
  margin:auto;
  border: 1px solid white;

}

/*======================================
            HEADER
======================================*/

header{
  position:sticky;
  top:0;
  z-index:999;
  background:rgba(7,7,7,.92);
  backdrop-filter:blur(14px);
  border-bottom:1px solid #171717;

}

.nav{
  height:82px;
  display:flex;
  align-items:center;
  justify-content:space-between;

}

.logo{
  font-size:1.5rem;
  font-weight:800;
  color:#5b8cff;

}

nav{
  display:flex;
  gap:35px;

}

nav a{
  color:#a7a7a7;
  transition:.3s;

}

nav a:hover, nav a.active{
  color:#fff;
}

.btn{
  display:inline-flex;
  align-items:center;
  gap:10px;
  background:#5b8cff;
  color:#fff;
  padding:15px 24px;
  border-radius:14px;
  font-weight:600;
  transition:.3s;

}


.btn:hover{
  transform:translateY(-3px);
}

.btn i{
  font-size:.9rem;
}

/*======================================
            HERO
======================================*/

.hero{
  border: 1px solid red;
  padding:90px 0;
}

.hero-grid{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:70px;
  align-items:center;

}

.small-title{
  display:inline-block;
  color:#5b8cff;
  font-size:.9rem;
  letter-spacing:3px;
  font-weight:700;
  margin-bottom:18px;

}

.hero-content h1{
  font-size:clamp(3rem,6vw,5.5rem);
  line-height:1.05;
  margin-bottom:24px;

}

.hero-content span:last-child{
  color:#5b8cff;

}

.hero-content p{

    color:#a7a7a7;

    line-height:1.8;

    max-width:520px;

    margin-bottom:40px;

}


/*======================================
            FILTERS
======================================*/

.filters{
  border: 1px solid blue;
  padding-bottom:70px;

}

.filters .container{
  display:flex;
  gap:14px;
  flex-wrap:wrap;

}

.filters button{
  background:#111;
  color:#cfcfcf;
  border:1px solid #232323;
  border-radius:999px;
  padding:14px 22px;
  cursor:pointer;
  transition:.3s;

}

.filters button:hover,
.filters button.active{
  background:#5b8cff;
  border-color:#5b8cff;
  color:#fff;

}


/*======================================
            PROJECT GRID
======================================*/


.projects{
  border: 1px solid yellow;
  padding:30px 0 100px;

}

.projects-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:32px;
}

/*======================================
            PROJECT CARD
======================================*/

.project-card{
  background:#101010;
  border:1px solid #202020;
  border-radius:22px;
  overflow:hidden;
  transition:.35s;
  display:flex;
  flex-direction:column;

}

.project-card:hover {
  transform:translateY(-10px);
  border-color:#5b8cff;
  box-shadow:0 20px 50px rgba(0,0,0,.45);
}

.project-card img{
  height:240px;
  object-fit:cover;
  transition:.45s;

}

.project-card:hover img{
  transform:scale(1.05);
}

.project-content{
  padding:28px;
  display:flex;
  flex-direction:column;
  flex:1;
  
}

.tag{
  display:inline-block;
  width:max-content;
  background:rgba(91,140,255,.12);
  color:#5b8cff;
  border:1px solid rgba(91,140,255,.3);
  padding:8px 14px;
  border-radius:999px;
  font-size:.8rem;
  font-weight:600;
  margin-bottom:18px;

}

.project-content h2{
  font-size:1.5rem;
  margin-bottom:14px;

}

.project-content p{
  color:#ababab;
  line-height:1.8;
  margin-bottom:28px;
  flex:1;

}
/*======================================
        PROJECT FOOTER
======================================*/

.project-footer{
  display:flex;
  justify-content:space-between;
  align-items:center;
  gap:20px; /*what is gap for?*/
  border-top:1px solid #202020;
  padding-top:20px;

}
.project-footer small{
  display:block;
  color:#7f7f7f;
  margin-bottom:6px;

}

.project-footer h4{
  font-size:1rem;
  font-weight:600;

}

.project-footer a{
  display:flex;
  align-items:center;
  gap:10px;
  color:#5b8cff;
  font-weight:600;
  transition:.3s;
}

.project-footer a:hover{
  gap:15px;
}

.project-footer i{
  font-size:.9rem;
}
/*======================================
            CTA
======================================*/

.cta{
  border: 1px solid red;
  padding:100px 0;
}

.cta-box{
  background:#0f0f0f;
  border:1px solid #202020;
  border-radius:30px;
  padding:60px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  gap:40px; /* why gap*/

}

.cta-box h2{
  font-size:2.5rem;
  margin-bottom:12px;

}

.cta-box p{
  color:#a9a9a9;
  line-height:1.8;

}

/*======================================
            FOOTER
======================================*/

footer{
  border-top:1px solid #1b1b1b;
  padding:35px 0;
}

.footer{
  display:flex;
  justify-content:space-between;
  align-items:center;
  gap:30px;
  flex-wrap:wrap;

}

.footer h3{
  color:#5b8cff;
  font-size:1.5rem;

}


.footer p{
  color:#8d8d8d;
}

/*======================================
        RESPONSIVE DESIGN
======================================*/


/* ---------- Phones ---------- */

@media (max-width:600px){
  .container{
    width:90%;
  }
  
  .hero-content h1{
    font-size:2.4rem;
    
  }
  
  .hero-content p{
    font-size:.95rem;
    
  }
  
  .hero-image img{
    max-width:320px;
    
  }
  
  /*I want this button to be scrollable*/
  .filters button{
    width:100%;
    
  }
  
  .project-card{
    border-radius:18px;
    
  }
  
  .project-card img{
    height:220px;
    
  }
  .project-content{
    padding:22px;
    
  }
  .project-content h2{
    font-size:1.3rem;
    
  }
  
  /*No need for column, we can still make them flex*/
  .project-footer{
    flex-direction:column;
    align-items:flex-start;
    gap:18px;
    
  }
  
  .cta-box{
    padding:30px 22px;
    
  }
  .cta-box h2{
    font-size:1.6rem;
    
  }
  
  .cta-box p{
    font-size:.95rem;
    
  }
  .footer h3{
    font-size:1.3rem;
    
  }
  
  .footer p{
    text-align:center
    line-height:1.7
    font-size:.9rem;

}

  

}












/*@media(max-width:600px){
  nav {
    display: none;
  }
}*/