<footer class="container">
    <div class="footer-grid">
      <div class="walmanlabs-info">
        <h3>WaltmanLabs</h3>
        <a href="https://www.facebook.com/profile.php?id=61591453876400" target="_blank"><i class="fa-brands fa-facebook-f"></i> Follow on Facebook</a>
        <p>Helping businesses grow online.</p>
        
      </div>
      <div class="footer-nav-links">
        <h3>Quick Links</h3>
        <ul>
          <li><a href="" class="active">Home</a></li>
          <li><a href="projects.html">Projects</a></li>
          <li><a href="pricing.html">Pricing</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </div>
      <div class="contact">
        <h3>Contact</h3>
        <a href="https://wa.me/27780406778?text=Hi%20Waltman%20Labs!%20I%20would%20like%20to%20know%20more%20about%20your%20services." target="_blank"><i class="fa-brands fa-whatsapp"></i>Chat on WhatsApp</a>
        
        <small><i class="fa-solid fa-location-dot"></i>South Africa</small>
      </div>
      <div>
        <h3>Connect with Walter</h3>
        <div class="social-links">
          <a href="https://www.facebook.com/profile.php?id=61591847726079"><i class="fa-brands fa-facebook-f"></i></a>
          
          <a href="https://www.linkedin.com/in/mohapi-walter-475250378"><i class="fa-brands fa-linkedin"></i></a>
          <a href="https://github.com/Geeky-bit256" target="_blank" rel="noopener"><i class="fa-brands fa-github"></i></a>
        </div>
      </div>
    </div>
    <div class="copyright">
      <small>© 2026 Waltman Labs. All Rights Reserved.</small>
    </div>
  </footer>